<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/base.css') }}">,
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Library</title>
</head>
<body>
    <div>
        <a class="btn btn-primary" href="/v1/auth/login" role="button">Go to Login</a>
    </div>
    <h1>
        Welcome Library in FastAPI! 
    </h1>
</body>
</html>